input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.result {
  margin-right: 4rem;
}

.error-message {
  position: absolute;
  margin-left: 90px;
  margin-top: 10px;
  top: 20;
  left: 10;
  border: 1px solid #EBCCCC;
  color: #A94442;
  background-color: #EBCCCC  ;
  border-radius: 4px;
  padding: .2rem;


}
.server-error {
   margin-top: 10px;
   margin-left: 10px;
}
.user-input {
   width: 5px;
}
